NET    "LED<0>"              LOC = P25;
NET    "LED<1>"              LOC = P16;
NET    "LED<2>"              LOC = P23;
NET    "LED<3>"              LOC = P21;
NET    "LED<4>"              LOC = P20;
NET    "LED<5>"              LOC = P17;
NET    "LED<6>"              LOC = P83;

NET    "an"                  LOC = P34;

# Qué pin se debe de poner de salida?
NET    "PWM"                 LOC = P4;

NET    "clk"                 LOC = P54;

# ? Qué pins se deben de poner como entrada?
NET    "in_TOP_MODULE<0>"    LOC = P111;
NET    "in_TOP_MODULE<1>"    LOC = P114;
NET    "in_TOP_MODULE<2>"    LOC = P119;
NET    "in_TOP_MODULE<3>"    LOC = P120;
NET    "in_TOP_MODULE<4>"    LOC = P128;
NET    "in_TOP_MODULE<5>"    LOC = P130;
NET    "in_TOP_MODULE<6>"    LOC = P125;
NET    "in_TOP_MODULE<7>"    LOC = P126;